.navContainer {
  background-color: #f24e4e;
  width: 6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 0;
  position: fixed;
}
.navLink {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: larger;
  padding: 5px;
}

@media only screen and (max-width: 780px) {
  .navContainer {
    background-color: #f24e4e;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    position: fixed;
  }
  .navLink {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: larger;
    padding: 5px;
  }
}
